@import 'compoment/_var';
@import 'compoment/_utility';

main{
    border-radius: .5rem;
    width: 90vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    overflow: hidden;
    .orange{
        background: $Brightorange;
        button{
            background: #fff;
            color: $Brightorange;
        }
    }
    .darksky{
        background: $Darkcyan;
        button{
            color: $Darkcyan;
            background: #fff;
        }
    }
    .darkgreen{
        background: $Verydarkcyan;
        button{
            color: $Verydarkcyan;
            background: #fff;
            margin: 1.1rem 0 0;
        }
    }
    section{
        p,button{
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
        }
        width: 30vw;
        height: 80vh;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: column nowrap;
        padding: 2rem;
        p{
            margin: 1rem 0;
            font-size: 1.5rem;
            color:$Transparentwhite
        }
        button{    
            font-size: 0.8rem;
            margin: 3rem 0 0;
            width: 9rem;
            height: 3rem;
            border: none;
            outline: none;
            border-radius: .6rem;
            &:hover{
                border: 0.1rem solid $Verylightgray;
                background: transparent;
                color: $Verylightgray;
            }
        }
        h1{
            font-family: 'Big Shoulders Display', cursive;
            color: $Verylightgray;
            font-size: 2rem;
            font-weight: 700;
            margin: 1rem 0
        }
    }
}

@import 'compoment/_media';