@media screen and(max-width:762px) {
    html{
        font-size: 80%;
    }
    main{
        flex-flow: column wrap;
        height: 210vh;
        section{
            width: 100%;
            height: 66vh;
        }
    }    
}